* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#nav-bar {
  background: #183153;
  padding: 10px 15px;

  color: white;
  color: #fafafa;
}

#nav-bar h1 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

#nav-bar p {
  font-size: 0.9em;
  color: #c3c6d1;
}
#main-side {
  background: rgb(1, 87, 155);
  height: 650px;
  background-color: rgba(24, 49, 83, 0.9);
}
#side-nav {
  position: fixed;
  /* line-height: 1.5; */
  overflow-y: auto;
  color: #c3c6d1;
  height: 100%;

  width: 300px;
}

.endpoints p {
  text-align: center;
  color: #fff;
  padding: 10px;
  font-size: 0.9em;
}

.api-name {
  display: none;
}

.fas,
.far {
  margin-right: 5px;
}

.left {
  position: absolute;
  right: 15px;
  padding: 0 5px;
  cursor: pointer;
  top: 10px;
}
.apis {
  position: relative;
  margin-top: 5px;

  /* cursor: pointer; */
  padding: 10px 15px;
}

.dash-text {
  transition: color 0.3s;
}

.dash-text:hover,
.endpoints li:hover,
#main-side h2:hover {
  color: #fff;
}

#side-nav h2 {
  font-size: 0.9em;
  transition: 0.3s;
  padding: 10px;
  border-bottom: 1px solid #183153;
}
.endpoints {
  width: 0px;
  overflow: hidden;
  transition: width, height 0.3s;
  height: 0px;
}
#side-nav .endpoints li {
  font-size: 0.9em;
  transition: color 0.3s;
  cursor: pointer;
  padding: 8px;
}
#side-nav::-webkit-scrollbar {
  display: none;
}

#result {
  margin-left: 310px;
  z-index: 10;
}

#result h1 {
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#table-container {
  width: 70%;
  display: inline-block;
  max-width: 350px;
}

#status {
  min-width: 250px;
  max-width: 250px;
  display: inline-block;
  border-radius: 10px;
  background: grey;
  position: relative;
  height: 80px;
}

#status p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2em;
  color: #fafafa;
}

#api-form {
  z-index: 10;
}

@media only screen and (max-width: 650px) {
  #side-nav {
    overflow-x: hidden;
    /* width: 80px; */
    display: grid;
    grid-template-columns: 20% 80%;
  }
  .endpoints {
    width: unset;
    height: unset;
  }

  .dash-text {
    display: none;
  }
  #side-nav .left {
    display: none;
  }
  .fas,
  .far {
    font-size: 1.3em;
    text-align: center;
  }
  #nav-bar h1 {
    font-size: 1.1em;
  }
  #side-nav li:hover .endpoints {
    visibility: visible;
  }
  #side-nav h2 {
    text-align: center;
  }
  #widget {
    display: none;
  }
  #nav-bar p {
    font-size: 0.7em;
  }
  #side-nav .endpoints {
    position: absolute;
    min-width: 150px;
    visibility: hidden;
    background-color: rgba(24, 49, 83, 0.9);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 10px;
    left: 60px;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  #side-nav::-webkit-scrollbar {
    display: none;
  }
  #widget {
    visibility: hidden;
  }

  .api-name {
    display: block;
  }
  #result {
    margin-left: 70px;
  }
}
